*{
    margin: 0px;
    padding: 0px;
}

h1, p, span{
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    display: block;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D5E1EF;
    justify-content: center;
    gap: 40px;
}

.main-container{
    width: 320px;
    height: 499px;
    background: white;
    border-radius: 16px;
}

.main-conteudo{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.qr img{
    border-radius: 16px;
}

.main-conteudo p{
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

.main-conteudo span{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.2;
    color: #68778D;
    max-width: 25ch;
}